<html>
<head>
	<title>Amazon web services</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
	<body>
		<style>
		dialog{
	border:1px solid #0275d8;
	border-radius: 10px;
	z-index:1;
}
		</style>
		<% if (message==1){%>
			<dialog open >  
				<center>
					<h3>
						Success!
					</h3>
				</center>  
				<center>
					<p>
						File was added to <%=bucket%>!
					</p>
				</center>
				<center>
					<button class="btn btn-primary px-5" role="button" onclick="location.href='http://localhost:8080'">
						OK
					</button>
				</center>
			</dialog>  
		<%}%>
		<img src="https://www.mitocgroup.com/images/logos/aws2.svg" style="max-width:15%;"/>
		<div class="mainblock">	
			<div class="col-md-4 mx-auto"> 
				<div>
					<form action="https://s3-us-west-2.amazonaws.com/<%=bucket%>/"
					
                          method="POST"
						  enctype="multipart/form-data">	
						<% if (message==0){%>
							<% fields.forEach(function(elem){ %>
								<input type="hidden" name="<%= elem.name  %>" value="<%=elem.value %>"/>
							<%}); %> 
						<%}%>
						<input type="file" accept=".jpg,.png" name="file" class="form-control-file mt-3 mb-3">
						<p>
							<b>File will be send to <%=bucket%></b>
						</p>
						<input type="submit" class="btn btn-outline-primary btn-block" role="button" value="Send"/>
					</form>
				</div>
			</div>
		</div>
		<div class="text-center">
			<a href="http://localhost:8080/list" class="text-center h4"><img src="https://amimoto-ami.com/wp-content/uploads/2016/03/AWS_Simple_Icons_Storage_Amazon_S3.svg_-20160327090241.png" style="max-width:15%;"/><%=bucket%></a>
		</div>
	</body>
</html>
